.work-experience-card {
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin: 0 1rem;
    gap: 2rem;
}

.work-experience-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.work-experience-description-container {
    display: flex;
}

.preview {
    width: 22rem;
    height: 15rem;
    margin: 0.5rem;
    border-radius: 2rem;
}

.icons-container {
    display: flex;
    margin: 1rem auto;
    gap: 2rem;
}

.experience-card-icon {
    width: 1.5rem;
}

.experience-card-icon {
    width: 3rem;
    height: auto;
}

@media (max-width:768px) {
    .work-experience-card {
        margin: 1rem;
    }

    .work-experience-card h6 {
        font-size: 0.95rem;
    }

    .work-experience-card ul li {
        font-size: 0.7rem;
    }
}

@media (max-width:425px) {
    .work-experience-description-container {
        display: block;
        text-align: center;
        font-size: 0.8rem;
    }

    .description-container {
        display: block;
        justify-content: left;
    }

    .preview {
        display: block;
        margin: 1rem auto;
        width: 100%;
        height: auto;
        border-radius: 5%;
    }

    .icons-container {
        display: grid;
        grid: auto-flow / 1fr 1fr 1fr 1fr;
        margin: 1rem auto;
    }

    .icon-container {
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .experience-card-icon {
        width: 1.5rem;
    }

}