.container {
  max-width: 100rem !important;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
}