.about-container {
    margin: 2rem 0;
    display:grid;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.about-container h2 {
    margin: 2rem 0;
}

.about-content {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    word-wrap:break-word;
}

@media screen and (max-width:768px) {
    
    .about-container {
        padding-top: 2rem;
    }
}

@media screen and (max-width:425px) {
    
    .about-container {
        padding-top: 2rem;
    }
    .about-content {
        font-size: 1.3rem;
    }
}